footer {
  box-sizing: border-box;
  margin-left: 32%;
  height: 10%;
}

input#title,
#writer {
  height: 20px;
  border-radius: 2px;
  border: 1px solid black;
}

input#title {
  width: 100px;
  margin-right: 10px;
}

input#writer {
  width: 200px;
  margin-right: 10px;
}

input::placeholder {
  color: #a4b0be;
  font-style: italic;
  padding: 5px;
}

input[type="submit"] {
  width: 50px;
  height: 25px;
  background-color: white;
  border-radius: 2px;
}

input[type="submit"]:hover {
  background-color: #57606f;
  transition: background-color 0.5s ease-out;
  color: white;
  border: none;
}


