body{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section{
    background-color: white;
    width: 800px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    height: 10%;
    font-size: 40px;
}

nav{
    box-sizing: border-box;
    float: left;
    width: 100px;
    height: 90%;
    border-right: 1px solid black;
}

article{
    box-sizing: border-box;
    float: right;
    width: 700px;
    height: 960;
}

input{
    border: 1px solid black;
}

.table{
    width: 100%;
    text-align: center;
}

.Num{
    width: 30px;
}
.Title{
    width: 300px;
}
.Writer{
    width: 100px;
}
.View{
    width: 40px;
}
th, td{
    border-bottom: 1px solid black;
    padding: 10px;
}